<div id="htmlData" class="container">
  <div class="row">
    <div>
      <h2 class="center">Certificado de Retención en la Fuente</h2>
      <h2 class="center">CENTRO MOTORS S.A</h2>
      <h2 class="center">891904029-6</h2>
      <p class="center"><i>Para cumplir con el articulo 381 del Estatuto Tributario</i></p><br>
      <h3 class="center">CERTIFICA</h3>
      <p class="center">Que durante el año gravable <i>2022</i> se le efectuó Retención en la Fuente a:</p>
      <div class="info">
        <div class="item red">
          <p><strong>CREATIVOS MODULARES S.A.S</strong></p>
          <p>PALMIRA CRA 27 # 33 - 85</p>
        </div>
        <div class="item blue">
          <p>3117833430</p>
        </div>
        <div class="item green">
          <p><strong>CON NIT/CC: 901395314</strong></p>
          <p>gerencia@creativosmodulares.com</p>
        </div>
      </div>
      <p class="center">Por los siguientes conceptos</p>
      <div class="info">
        <div class="item red">
          <p><strong>CONCEPTO</strong></p>
          <p>23654005</p>
        </div>
        <div class="item blue">
          <p><strong>DESCRIPCION</strong></p>
          <p>COMPRAS GENERASLES 2.5%</p>
        </div>
        <div class="item2 green">
          <p><strong>VALOR BASE</strong></p>
          <p>16.440.160</p>
        </div>
        <div class="item2 red">
          <p><strong>VALOR RETENIDO</strong></p>
          <p>411.104</p> 
        </div>
      </div>
        <br>
        <br>
      <div class="info">
        
        <div class="item red">
          <p><strong>TOTALES</strong></p>
          
        </div>
        <div class="item blue">
         
        </div>
        <div class="item2 green">
          
          <p>16.440.160</p>
        </div>
        <div class="item2 red">
          
          <p>411.104</p> 
        </div>
      </div>
      <br>
      <br>
      <p class="center">Estos valores fueron consignados en la Administración de Impuestos de la ciudad de TULUÁ</p>
      <p><strong>Agente Retenedor.</strong></p>
      <br>
      <p>Emitido el {{fecha_actual}}</p>
      <p><i>Se expide sin firma autógrafa de acuerdo con el articulo 10 del Decreto 836 de 1991</i></p>
    </div>
  </div>
</div>
<div>
  <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
</div>